<table>
<tr>
<th>nombre</th>
<td><%= @datohash[:nombre] %> </td>
</tr>
<tr>
<th>apellido</th>
<td><%= @datohash[:apellido] %> </td>
</tr>
<tr>
<th>telefono</th>
<td><%= @datohash[:telefono] %> </td>
</tr>
<tr>
<th>correo</th>
<td><%= @datohash[:correo] %> </td>
</tr>
</table>
