<h1>Bienvenido</h1>
<p>Pagina de inicio</p>
<p>UNAN-Leon</p>
<h3>Imprimiendo un array Ruby dentro de una vista</h3>
<%@dias_semana.each do |dia|%>
<%=dia %> <br>
<%end%>
<h3> Metodo last</h3>
<%= @dias_semana.last%>
<h3> Primer dato</h3>
<%= @dias_semana.first%>
<h3> Longitud del array</h3>
<%= @dias_semana.length%>
